@tailwind base;
@tailwind components;
@tailwind utilities;


.ripple {
    position: relative;
    overflow: hidden;
  }
  
  .ripple::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
    transition: width 0.6s ease, height 0.6s ease, opacity 0.8s ease;
  }
  
  .ripple:active::after {
    width: 300px;
    height: 300px;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ant-carousel .slick-prev, 
  .ant-carousel .slick-next {
    color: black; 
  }
  
  .hide-scrollbar {
    overflow-x: auto; /* Allow horizontal scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
