#imageZoom {
    @apply w-[500px] h-[500px] border
}

#imageZoom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}
#imageZoom::after{ 
    content: '';
    display: var(--display);
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: var(--url);
    background-size: 200%;
    background-position: var(--zoomX) var(--zoomY);
}