#imageZoom {
    @apply w-[100%] h-[400px] border relative
}

#imageZoom img {
    object-position: 0 0;
    @apply w-full h-full object-cover object-center
}
#imageZoom::after{ 
    content: '';
    display: var(--display);
    background-image: var(--url);
    background-size: 250%;
    background-position: var(--zoomX) var(--zoomY);
    @apply absolute top-0 left-0 h-full w-full bg-primary;
}

